<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.chandanv89.telephonedirectory.persistance.mapper.CNumsMapper">

    <resultMap id="cNum" type="com.github.chandanv89.telephonedirectory.model.ContactNumber">
        <result property="id"        column="ID"         jdbcType="VARCHAR"/>
        <result property="number"    column="C_NUMBER"   jdbcType="VARCHAR"/>
        <result property="category"  column="CATEGORY"   jdbcType="VARCHAR"/>
        <result property="isPrimary" column="IS_PRIMARY" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="getAllContactNumbers" resultMap="cNum" resultType="com.github.chandanv89.telephonedirectory.model.ContactNumber">
        SELECT ID, C_NUMBER, CATEGORY, IS_PRIMARY
        FROM C_NUMS
    </select>

    <select id="getContactNumbersByContactId" resultMap="cNum" resultType="com.github.chandanv89.telephonedirectory.model.ContactNumber">
        SELECT ID, C_NUMBER, CATEGORY, IS_PRIMARY
        FROM C_NUMS
        WHERE C_ID = #{contactId}
    </select>

    <insert id="addContactNumber" useGeneratedKeys="true" keyProperty="id" parameterType="com.github.chandanv89.telephonedirectory.model.ContactNumber">
        INSERT INTO C_NUMS (C_NUMBER, CATEGORY, IS_PRIMARY)
        VALUES(#{contactNumber.number}, #{contactNumber.category}, #{contactNumber.isPrimary})
    </insert>
</mapper>