<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.chandanv89.telephonedirectory.persistance.mapper.EmailsMapper">

    <resultMap id="email" type="com.github.chandanv89.telephonedirectory.model.Email">
        <result property="id"              column="ID"         jdbcType="VARCHAR"/>
        <result property="emailId"         column="EMAIL_ID"   jdbcType="VARCHAR"/>
        <result property="category"        column="CATEGORY"   jdbcType="VARCHAR"/>
        <result property="isPrimary"       column="IS_PRIMARY" jdbcType="CHAR"/>
        <result property="parentContactId" column="C_ID"       jdbcType="VARCHAR"/>
        <result property="createdOn"       column="CRE_DT"     jdbcType="TIMESTAMP"/>
        <result property="updatedOn"       column="UPD_DT"     jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAllEmails" resultMap="email"
            resultType="com.github.chandanv89.telephonedirectory.model.Email">
        SELECT ID, EMAIL_ID, CATEGORY, IS_PRIMARY, C_ID, CRE_DT, UPD_DT
        FROM EMAILS
    </select>

    <select id="getEmailsByContactId" resultMap="email"
            resultType="com.github.chandanv89.telephonedirectory.model.Email">
        SELECT ID, EMAIL_ID, CATEGORY, IS_PRIMARY, C_ID, CRE_DT, UPD_DT
        FROM EMAILS
        WHERE C_ID = #{contactId}
    </select>

    <insert id="addEmail" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.github.chandanv89.telephonedirectory.model.Email">
        INSERT INTO EMAILS (ID, EMAIL_ID, CATEGORY, IS_PRIMARY, C_ID)
        VALUES(
            #{email.id},
            #{email.emailId},
            #{email.category},
            #{email.isPrimary},
            #{email.parentContactId}
        )
    </insert>

    <insert id="addEmails" parameterType="java.util.List">
        INSERT INTO EMAILS (ID, EMAIL_ID, CATEGORY, IS_PRIMARY, C_ID) VALUES
        <foreach collection="emails" item="e" index="index" open="(" separator="),(" close=")">
            #{e.id},
            #{e.emailId},
            #{e.category},
            #{e.isPrimary},
            #{e.parentContactId}
        </foreach>
    </insert>
</mapper>