<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">${env:HOME}/applogs</Property>
        <Property name="appName">telDirApp</Property>
    </Properties>

    <Appenders>
        <Console name="consoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-40.40c{1.} : %msg%n"/>
        </Console>
        <RollingFile name="traceLog" fileName="${logPath}/${appName}-trace.log"
                     filePattern="${logPath}/${appName}-trace-%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-40.40c{1.}: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="aopLog" fileName="${logPath}/${appName}-aop.log"
                     filePattern="${logPath}/${appName}-aop-%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %-30.30c{1.}: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="infoLog" fileName="${logPath}/${appName}-info.log"
                     filePattern="${logPath}/${appName}-info-%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-40.40c{1.}: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="debugLog" fileName="${logPath}/${appName}-debug.log"
                     filePattern="${logPath}/${appName}-debug-%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-40.40c{1.}: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="errorLog" fileName="${logPath}/${appName}-error.log"
                     filePattern="${logPath}/${appName}-error-%d{yyyyMMdd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-40.40c{1.}: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.github.chandanv89.telephonedirectory" level="all" additivity="false">
            <appender-ref ref="errorLog" level="warn"/>
            <appender-ref ref="traceLog" level="trace"/>
            <appender-ref ref="infoLog" level="info"/>
            <appender-ref ref="debugLog" level="debug"/>
            <!--<appender-ref ref="consoleLog" level="debug"/>-->
        </Logger>
        <Logger name="com.github.chandanv89.telephonedirectory.aspect" level="all" additivity="false">
            <appender-ref ref="aopLog" level="all"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="consoleLog"/>
        </Root>
    </Loggers>
</Configuration>
